*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;    
}

/* HEADER */

header{
    max-width: 100vw;
    font-size: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

header ul{
    display: flex;
    align-items: center;
}

header ul>li{
    padding: 0 1rem;
}

li#logo-dropbox{
    height: 50px;
    padding: 1rem;
}

img{
    height: 100%;
}

.button{
    padding: 0.4rem 0.8rem;
    border: none;
    font-size: .65rem;
}

.bg-blue{
    background-color: #0060ff;
    color: white;
}

/* JUMBOTRON */

section.jumbotron{
    background-color: #b4d0e7;    
    padding: 2rem 17rem 1rem;
}

.jumbotron-main{
    display: flex;
    position: relative;
}

.jumbotron h1{
    font-size: 50px;
    padding-bottom: 2rem;
    font-weight: 900;
}

.jumbotron-text{
    width: 30%;
    font-size: .65rem;
    line-height: .9rem;
}

.jumbotron-text>p,
.jumbotron-text>button{
    padding-bottom: 1.7rem;
}

#arrow-down{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 0;
}

.jumbotron-img{
    width: 80%;
    position: absolute;
    left: 280px;
}

.jumbotron-img>img{
    width: 100%;
}

/* MAIN */

.slim{
    padding: 3rem 20rem;
}

.plans{
    margin-top: 3rem;
}

div.radio-button{
    padding: 2rem 0;
}

div.radio-button>*{
    font-size: .6rem;
    vertical-align: middle;  
}

div.radio-button label{
    margin-right: 1.2rem;
}

.plans-info{    
    display: flex;
    justify-content: space-between;
}

.plan-card{
    /* width: calc((100 / 3) - 1rem); */
    border: 1px #e0e0e1 solid;
    font-size: .6rem;
    padding: 0.5rem 1rem;    
}

.plan-type{
    display: flex;
    text-align: center;
    border-bottom: 1px #e0e0e1 solid;
    margin: 0.5rem 1rem;
    padding: 0;
}

.plan-card>h3{
    font-size: 1rem;
    font-weight: bolder;
}